.nav_link {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

.nav_link:hover{
    color: #EAD637;
}

.desktop-link {
    display: inline; /* Por defecto, muestra el texto */
}

@media (max-width: 850px) {
    .desktop-link {
        display: none; /* Oculta el texto cuando la pantalla es menor a 850px */
    }
}
