.recomendacion_img {
    width: 100%;
  }
  
  .recomendaciones_container {
    width: 85vw;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
  }
  
  .recomendaciones_inner_container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
  }
  
  .slick-arrow.slick-next:before {
      content: "";
    }
    
  .slick-arrow.slick-prev:before {
      content: "";
    }
  
  
  
  
  
  