:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-decoration: none;
  color-scheme: light dark;
  --primary-color: #EEBA0B;
  --secondary-color: #DB5A42;
  --terciary-color: #171614;
  --background-color:#D0CAC2;
  --text-color: #37423D;
}

html {
  min-height: 100%;
  position: relative;
  color: black;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color:#F2F6D0;
  margin: 0;
}


.slick-next:before {
  content: '';
}
.slick-prev:before {
  content: '';
}

